{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="player-detail-header" style="background-image: url('{{ manager.img.url }}');">
    <div class="player-detail-overlay">
        <h1>{{ manager.name }}</h1>
        <h2>#{{ manager.kit }}</h2>
    </div>
</div>
<div class="player-detail-tabs">
    <ul>
        <li><a href="#profile" class="active">Profile</a></li>
        <li><a href="#social">Social</a></li>
        <li><a href="#news">News & Video</a></li>
    </ul>
</div>
<div class="player-detail-content">
    <div id="profile" class="tab-content active">
        <div class="player-detail-main">
            <div class="player-detail-bio">
                <h2>Bio</h2>
                <p id="bio-content" class="short-bio">{{ manager.bio|truncatewords:30 }}</p>
                <p id="bio-full-content" class="full-bio">{{ manager.bio }}</p>
                <a href="#" id="read-more-btn" class="read-more-btn" onclick="toggleBio(event)">Read More</a>
                <a href="#" id="show-less-btn" class="show-less-btn" onclick="toggleBio(event)" style="display: none;">Show Less</a>
            </div>
            <div class="player-detail-info">
                <h2>Info</h2>
                ------------------------
                <p><strong>Date of birth:</strong> {{ manager.age }}</p>
                {% if manager.team %}
                <p><strong>Team Name:</strong> {{ manager.team }}</p>
                {% endif %}
                <p><strong>Nationality:</strong> <img src="{{ manager.nationality_image.url }}" alt="{{ manager.nationality }}"></p>
                <p><strong>Role:</strong> {{ manager.role }}</p>
                <p><strong>NID Number:</strong> {{ manager.NID_number }}</p>
                <p><strong>Rating:</strong> {{ manager.rating }}</p>
            </div>
        </div>
    </div>
    <div id="social" class="tab-content">
        <h2>Social Media</h2>
        <!-- Social media content here -->
    </div>
    <div id="news" class="tab-content">
        <h2>News & Video</h2>
        <!-- News and video content here -->
    </div>
</div>

<!-- <div class="player-profile-container">
    <div class="player-profile-header">
        <div class="player-profile-info">
            <div class="player-profile-header-top">
                <div class="player-profile-user-details">
                    <h1>{{ player.name }}</h1>
                    <h2>Bio</h2>
                    <p>{{ player.bio|default:"No bio available." }}</p>
                </div>
                <div class="player-profile-avatar-container">
                    {% if player.img %}
                        <img src="{{ player.img.url }}" alt="{{ player.name }}'s image" class="player-profile-avatar">
                    {% else %}
                        <img src="{% static 'img/default_avatar.png' %}" alt="Default image" class="player-profile-avatar">
                    {% endif %}
                </div>
            </div>
            <div class="player-profile-details">
                <h2>Player Details</h2>
                <p><strong>Kit Number:</strong> {{ player.kit }}</p>
                <p><strong>Position:</strong> {{ player.get_position_display }}</p>
                <p><strong>Age:</strong> {{ player.age }}</p>
                <p><strong>NID Number:</strong> {{ player.NID_number }}</p>
                <p><strong>Nationality:</strong> {{ player.nationality }}</p>
                {% if player.nationality_image %}
                    <img src="{{ player.nationality_image.url }}" alt="{{ player.nationality }}'s flag" class="player-profile-nationality-image">
                {% endif %}
                <p><strong>Rating:</strong> {{ player.rating }}</p>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}